body {
    margin: 0;
    background: linear-gradient(to right, #00001A 20%, #00001A 40%, #1B0036 60%, #2D0050 80%, #58306b 100%, #67327f 100%);
    color: #fff;
    font-family: Montserrat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Handjet;
}

.qq {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo22 {
    width: 60px;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.gg {
    display: flex;
    gap: 50px;
}

.header1 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
}
.raspis{
    margin-left: 330px;
}
.header1:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.auth-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.auth-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content-header h1 {
    flex: 1;
    font-size: 2em;
}

#groupSelector, #weekTypeSelector {
    margin-left: 10px;
    padding: 5px;
    font-size: 1em;
}

#scheduleContainer {
    display: flex;
    flex-wrap: wrap;
}

.day-schedule {
    background:rgb(41, 12, 84);
 
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.day-schedule h3 {
    margin-top: 0;
    font-size: 1.2em;
    background: linear-gradient(90deg, #23004b 0%, #4a068e 100%);
    color: white;
    padding: 13px;
    border-radius: 11px 11px 0 0;
}

.day-schedule ul {
    list-style: none;
    padding: 0;
}

.day-schedule li {
    margin: 5px 0;
}

.edit-btn, .save-btn {
    border: none;
    background:rgb(41, 12, 84);
    padding: 10px 20px;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn:hover, .save-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

footer {
 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.secel{
    background-color: #1b0036;
border-radius: 20px;
color: #fff;

}