body {
    margin: 0;
    background: linear-gradient(to right, #00001A 20%, #00001A 40%, #1B0036 60%, #2D0050 80%, #58306b 100%, #67327f 100%);
    color: #fff;
    font-family: Montserrat;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Handjet;
}

.qq {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo22 {
    width: 60px;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.gg {
    display: flex;
    gap: 50px;
}

.header1 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
}

.header1:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.auth-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.auth-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
.main-content {
    padding: 20px;
}

.content-header {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#scheduleContainer {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

